# network
ssid = ""
password = ""

# Default
ntp_host = 'jp.pool.ntp.org'
api_url = "https://api.open-meteo.com/v1/forecast"
latitude = "35.6894" # 取得する天気の緯度・経度
longitude = "139.6917"
utc_hour = 9 # ローカル時刻をUTC+9に変換

icon_config = [
    ([0],"clear"), # 晴れ
    ([1, 2, 3], "clouds"), # 概ね晴れ、一部曇り、曇り
    ([45, 48], "mist"), # 霧、霧の付着
    ([51, 53, 55], "rain"), # 弱い霧雨、中程度の霧雨、濃い霧雨
    ([56, 57], "rain"), # 弱い着氷性の霧雨、濃い着氷性の霧雨
    ([61, 63, 65], "rain"), # 弱い雨、中程度の雨、強い雨
    ([66, 67], "rain"), # 弱い着氷性の雨、強い着氷性の雨
    ([71, 73, 75], "snow"), # 弱い雪、中程度の雪、強い雪
    ([77], "snow"), # 雪の粒
    ([80, 81, 82], "rain"), # 弱い雨のシャワー、中程度の雨のシャワー、激しい雨のシャワー
    ([85, 86], "snow"), # 雪が少し降ったり、激しく降ったり
    ([95], "thunderstorm"), # 雷雨
    ([96, 99], "thunderstorm"), # 雷雨とひょう、雷雨と強いひょう
]
